<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ccweb</title>
    <link rel="stylesheet" href="/static/user/css/index.css">
</head>
<body>
    <section id="content_box">
        <header>
            <h1 style="color: #52a486">Python Implementation Web Framework</h1>
        </header>

        <section>
            <p>
                <h1>Name: <span style="color: blue">cbweb</span></h1>
                <h1>Author: <span style="color: lightcoral">c0hb1rd</span></h1>
                <h1>Version: <span style="color: darkgoldenrod">0.1</span></h1>
                <h1>Welcome <span style="color: cornflowerblue">{{ user }}</span></h1>
                <h1>{{ hello }}{{ world }}</h1>
                <h1><a href="/logout">退出</a></h1>
            </p>
        </section>
    </section>
    <script src="/static/user/js/index.js"></script>
</body>
</html>